# Ignore the raw CSV file with aircraft movements.
/data/23100008.CSV
/data/23100302.CSV

# Ignore the raw CSV file with airport codes.
/data/Airports_Aeroports.csv

# Ignore the compiled bytecode
*.pyc